/* ==========================================================================
   #HIDE
   ========================================================================== */

/**
 * Hide only visually, but have it available for screen readers:
 */

.u-hidden {
  display: none;
}

.u-visible {
  display: block;
}

 .u-text-invisible {
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0;
  margin: 0;
}

.u-element-invisible {
  visibility: hidden;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0;
  margin: 0;
}
