---
layout: templates/_page.html
pageName: ontdekCuracao
---
{%- from "system/component.njk" import component -%} <!-- todo: figure out how to put this in _base layout-->

  
{{ component('molecules', '_breadcrumbs', {
  parents: pages[pageName].pagedata.parents,
  title: pages[pageName].pagedata.title,
  url: pages[pageName].pagedata.url
}) }}



    {% for content in pageContents["ontdek-curacao"] %}
    {% for alinea in content.alineas %}
      {% include "../../_includes/components/molecules/_alinea.html" %}
        {% endfor %}
    {% endfor %}

    {% include "../../_includes/components/organisms/_list.html" %}

    
    {{ component('organisms', '_list', {
      list: pages[pageName].pagedata.subpages,
      cta: pages[pageName].pagedata.cta,
      parent: pages[pageName].pagedata.url
    }) }}

  

  
