---
layout: templates/_page.html
---

    {% include "../../_includes/components/molecules/_breadcrumbs.html" %}

    {% for content in pages.ontdekCuracao["ontdek-curacao"] %}
    <h1  class="pagina">{{ content.title }}</h1>
    {% endfor %}

    {% for content in pageContents["ontdek-curacao"] %}
    {% for alinea in content.alineas %}
      {% include "../../_includes/components/molecules/_alinea.html" %}
        {% endfor %}
    {% endfor %}

    {% include "../../_includes/components/organisms/_list.html" %}


  

  
