---
layout: templates/_page.html
pageName: ontdekCuracao
---

{%- extends "templates/_page.html" -%}





{% include "../../_includes/components/molecules/_breadcrumbs.html" %}

 
{%- block content -%}

{{ component('atoms', '_readmore-button', {
  primary: 'Hello'
}) }}

    {% for content in pageContents["ontdek-curacao"] %}
    {% for alinea in content.alineas %}
      {% include "../../_includes/components/molecules/_alinea.html" %}
        {% endfor %}
    {% endfor %}

    {% include "../../_includes/components/organisms/_subpages-list.html" %}

    {%- endblock -%}

  

  
