<section class="c-footer-top">
    <article class="footer-top__article">
        <h3 class="footer-top__article__heading">SGR &amp; Holiday Rentals Curaçao</h3>
        <p class="footer-top__article__text">Wij bieden 100% zekerheid met wie je te maken hebt. Pas op met internetfraude, zorg er voor dat je zeker weet dat u veilig uw vakantiehuis boekt.</p>
        <a class="footer-top__article__link btn--secondary" href="/laagsteprijsgarantieuitleg/"> Meer over het SGR-keurmerk</a>
    </article>
    <article class="footer-top__article">
        <h3 class="footer-top__article__heading">Holiday Rentals Curaçao</h3>
        <p class="footer-top__article__text">Al meer dan 15 jaar jouw aanbieder in vakantiehuizen, villa's en appartementen en autoverhuur.</p>
        <p class="footer-top__article__text">Al meer dan 15 jaar is Holiday Rentals Curacao gevestigd op het eiland Curacao en daarmee de specialist voor het huren van jouw ideale vakantiewoning en / of autohuur op Curacao.</p>
        <a class="footer-top__article__link btn--secondary" href="/contact/" >Vragen? Bel of mail ons gerust.</a>
    </article>
</section>