<section class="c-footer-bottom">
    <section class="footer-bottom__overig">
        {% include "../organisms/_social-media.html" %}
        {% include "../molecules/_betaalmogelijkheden.html" %}
        {% include "../molecules/_eigenaren-panel.html" %}
    </section>
    <section class="footer-bottom__nav">
        <h2 class="u-text-invisible">Footer-navigatie</h2>
        <article class="footer-bottom__nav__links">
            <h3 class="footer-bottom__nav__links__heading">Handige links</h3>
            <ul class="footer-bottom__nav__links__list">
                <li class="footer-bottom__nav__links__list__listItem"><a href="/vakantie/villa-curacao/">
                        Villa huren curacao
                    </a></li>
                <li class="footer-bottom__nav__links__list__listItem"><a
                        href="/vakantie/appartement-te-huur-op-curacao/">
                        Appartement huren curacao
                    </a></li>
                <li class="footer-bottom__nav__links__list__listItem"><a
                        href="/vakantie/huisje-of-vakantie-woning-op-curacao/">
                        Vakantiehuis huren Curacao
                    </a></li>
                <li class="footer-bottom__nav__links__list__listItem"><a href="/vakantie/autohuur-curacao/">
                        Autoverhuur curacao
                    </a></li>
                <li class="footer-bottom__nav__links__list__listItem"><a href="/groepsaccommodaties-curacao/">
                        Groep Curacao
                    </a></li>
                <li class="footer-bottom__nav__links__list__listItem"><a href="/resorts-curacao/">
                        Resorts Curacao
                    </a></li>
                <li class="footer-bottom__nav__links__list__listItem"><a href="/ontdek_curacao/">
                        Ontdek curacao
                    </a></li>
                <li class="footer-bottom__nav__links__list__listItem"><a href="/curacao/">
                        Praktische informatie
                    </a></li>
                <li class="footer-bottom__nav__links__list__listItem"><a href="/vakantie/">
                        Vakantie Curacao
                    </a></li>
                <li class="footer-bottom__nav__links__list__listItem"><a href="/curacao-vakantie/">
                        Curacao vakantie
                    </a></li>
                <li class="footer-bottom__nav__links__list__listItem"><a href="/curacao-vakantie-2021/">
                        Curacao vakantie 2021
                    </a></li>
                <li class="footer-bottom__nav__links__list__listItem"><a href="/vakanties-curacao/">
                        Vakanties curacao
                    </a></li>
            </ul>
        </article>
        <article class="footer-bottom__nav__overons">
            <h3 class="footer-bottom__nav__overons__heading">Over ons</h3>
            <ul class="footer-bottom__nav__overons__list">
                <li class="footer-bottom__nav__overons__list__listItem"><a href="/bedrijfsinformatie/">
                        Bedrijfsinformatie
                    </a></li>
                <li class="footer-bottom__nav__overons__list__listItem"><a href="/team-curacao/">
                        Ons team op curacao
                    </a></li>
                <li class="footer-bottom__nav__overons__list__listItem"><a href="/laagsteprijsgarantieuitleg/">
                        SGR garantie
                    </a></li>
                <li class="footer-bottom__nav__overons__list__listItem"><a href="/voorwaarden/">
                        Voorwaarden vakantieverhuur
                    </a></li>
                <li class="footer-bottom__nav__overons__list__listItem"><a href="/autovoorwaarden/">
                        Voorwaarden autoverhuur
                    </a></li>
                <li class="footer-bottom__nav__overons__list__listItem"><a href="/faq/">
                        Meestgestelde vragen
                    </a></li>
                <li class="footer-bottom__nav__overons__list__listItem"><a href="/vacatures/">
                        Vacatures
                    </a></li>
                <li class="footer-bottom__nav__overons__list__listItem"><a href="/contact/">
                        Contact
                    </a></li>
            </ul>
        </article>
        <article class="footer-bottom__nav__accomodaties">
            <h3 class="footer-bottom__nav__accomodaties__heading">Accomodaties Curacao</h3>
            <ul class="footer-bottom__nav__accomodaties__list">
                <li class="footer-bottom__nav__accomodaties__list__listItem"><a href="/vakantiehuizen/">
                        Vakantiewoning
                    </a></li>
                <li class="footer-bottom__nav__accomodaties__list__listItem"><a href="/villas?houseType=vil,vak">
                        Villa of bungalow
                    </a></li>
                <li class="footer-bottom__nav__accomodaties__list__listItem"><a href="/appartementen?houseType=app,stu">
                        Appartement of studio
                    </a></li>
                <li class="footer-bottom__nav__accomodaties__list__listItem"><a href="/vakantiehuizen/last-minute/">
                        Last minutes Curacao
                    </a></li>
                <li class="footer-bottom__nav__accomodaties__list__listItem"><a href="/vakantiehuizen?properties=groep">
                        Groepsaccomodaties
                    </a></li>
                <li class="footer-bottom__nav__accomodaties__list__listItem"><a href="/gasten_reacties/">
                        Gastenreacties
                    </a></li>
            </ul>
        </article>
        </article>
        {% include "../organisms/_nav-wijken.html" %}
    </section>
    <section class="footer-bottom__voorwaarden">
        <h3 class="u-text-invisible">Voorwaarden</h3>
        <a class="footer-bottom__voorwaarden__autoverhuur" href="/autovoorwaarden/" rel="noopener">Voorwaarden
            autoverhuur</a>
        <a class="footer-bottom__voorwaarden__vakantiehuizen" href="/voorwaarden/" rel="noopener">Voorwaarden
            vakantiehuizen</a>
        <a class="footer-bottom__voorwaarden__disclaimer" href="/disclaimer/" rel="noopener">Disclaimer</a>
        <p class="footer-bottom__voorwaarden__copyright">Copyright 2021</p>
        </div>
    </section>