<header class="c-hero-header">
    <section class="hero-header__content">
      <header class="hero-header__content__header">
        <h1 class="hero-header__content__header__heading">Holiday Rentals Curaçao
        </h1>
        <p class="hero-header__content__header__text">Met trots bieden wij het grootste verhuuraanbod van luxe villa’s, vakantiehuizen, appartementen en last-minute aanbiedingen op Curaçao.</p>
        <p class="hero-header__content__header__text"><a href="https://www.holidayrentalscuracao.nl/covid19">Covid-19: de laatste ontwikkelingen, uw huidige reservering en kosteloos annuleren voor nieuwe boekingen</a></p>
      </header>
      <a class="hero-header__content__link btn--primary link-arrow" href="/services/">Alle vakantiehuizen</a>
    </section>
    {% include "../organisms/_calendar.html" %}
</header>