<section class="c-woningen-cards">
    <h3 class="u-text-invisible">Shortcut woning-cards</h3>
    <article class="woningen-cards__article">
        <a class="woningen-cards__article__link" href="/vakantiehuizen/">
            <h4>Alle vakantiehuizen</h4>
        </a>
    </article>
    <article class="woningen-cards__article">
        <a class="woningen-cards__article__link" href="/appartementen/">
            <h4>Alle appartementen</h4>
        </a>
    </article>
    <article class="woningen-cards__article">
        <a class="woningen-cards__article__link" href="/villas/">
            <h4>Alle villas</h4>
        </a>
    </article>
</section>