{% set pageData = collections.stranden %}

<h1>test</h1>
<h1>{{ type }} {{ keyword }}</h1>

{% for page in pageData %}
<h1 class="typekeyword">{{ type }} {{ keyword }}</h1>
{% if page.data.headerImage %}
<header class="c-page-header" style="background-image:url(/assets/images/generic/headers/{{ page.data.headerImage }})">
{% else %}
<header class="c-page-header">
{% endif %} 
{% if page.data.title %}
  <h1 class="page-header__title">{{ page.data.title }}</h1>
  {% endif %}
  {% if page.data.description %}
  <p class="page-header__text">{{ page.data.description }}</p>
  {% endif %}
</header>
{% endfor %}
