<section class="c-page-content">
        {% include "../molecules/_breadcrumbs.html" %}
        <article class="page-content__article">
                <h2 class="page-content__article__heading">
                        Ontdek Curacao</h2>
                <p class="page-content__article__text">
                        Op curacao zijn er talloze diverse activiteiten te doen. Naast het bezoeken van de vele
                        prachtige stranden is er nog zo veel meer wat Curacao te bieden heeft.</p>
        </article>
        <article class="page-content__article">
                <h2 class="page-content__article__heading">
                        Vele bezienswaardigheden</h2>
                <p class="page-content__article__text">
                        De grote bezienswaardigheden zoals een bezoek aan het Christoffelpark met een klim
                        naar de
                        top voor een overgetelijk uitzicht, een bezoek aan het National Sheta boka park
                        of een
                        boottocht naar het idylische Klein Curacao waar je weg droomt in de Aqua blauwe
                        zee is
                        een kleine greep van wat je zeker niet mag missen.</p>
        </article>
        <article class="page-content__article">
                <h2 class="page-content__article__heading">
                        Cultuur Snuiven</h2>
                <p class="page-content__article__text">
                        Een bezoek aan de historische stad Willemstad om jezelf onder te dompelen in de
                        cultuur, de
                        nodige souvenirs te shoppen en de beroemde pontjesbrug te bewonderen, mag ook
                        zeker niet
                        ontbreken op je to do lijstje. Daarnaast beschikt Curacao over vele musea en
                        oude
                        landhuizen met een rijke historie.</p>
        </article>
        <h2 class="page-content__article__heading">
                Ontdek Curacao voor de kleintjes</h2>
        <article class="page-content__article">
                <p class="page-content__article__text">
                        Ook met kleine kinderen is er voldoende te doen. Een bezoek aan het sea aquarium, de
                        dolphin
                        academy, de ostrich farm of een dagje naar de dierentuin zullen ze fantastisch
                        vinden.
                        En dit is nog maar een kleine opsomming van de diversiteit aan activiteiten op
                        Curacao</p>
                <p class="page-content__article__text">
                        We raden je dan ook zeker aan om een<a title="huur auto curacao"
                                href="https://www.holidayrentalscuracao.nl/autoverhuur/">&nbsp;auto te
                                huren</a>&nbsp;om al dit moois te kunnen ontdekken.</p>
        </article>
        {% include "../organisms/_list.html" %}
</section>