.c-social-icons {
    max-width: 100%;
    height: $height-tiny;
    width: $width-small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: $spacing-default;
    
    .social-icons__link {
        &__icon {}

        &:hover {}

        &:active {}

        &:focus {}
    }
}