{# type equals the folder in /components the component is in. E.g. atoms, molecules, organisms, partials #}
{%- macro component(type, name, params) -%}
  {% include "../components/" + type + "/" + name + ".html" ignore missing %}
{%- endmacro -%}