<section class="c-activities">
  <h2 class="activities__heading">3 must-do activiteiten op Curaçao.</h2>
  <p class="activities__text">Curaçao heeft de zon, zee en witte stranden, maar er zijn ook heel veel andere leuke dingen te doen! Holiday
    Rentals Curacao heeft speciaal voor jou een selectie gemaakt van de leukste activiteiten op Curaçao die je
    eigenlijk niet mag missen.</p>
  <div class="activities__activity-container">
  <article class="activities__activity">
    <a class="activities__activity__link" href="/ontdek_curacao/watersport/">
      <img class="activities__activity__link__img" alt="Duiken" src="https://cms.holidayrentalscuracao.nl/assets/uploads/2021/08/duiken_curacao-2.jpg">
      <h3 class="activities__activity__link__heading">Duiken</h3>
      <p class="activities__activity__link__text">Ontdek de wonderlijke onderwaterwereld van Curacao! Nergens ter wereld tref je zulke prachtige natuurschatten aan onder de zeespiegel. Je kunt op wel …</p>
    </a>
  </article>

  <article class="activities__activity">
    <a class="activities__activity__link" href="/ontdek_curacao/bezienswaardigheden/">
      <img class="activities__activity__link__img" alt="Klein Curacao" src="https://cms.holidayrentalscuracao.nl/assets/uploads/2021/08/klein_curacao_schildpadden_boot_mermaid_vuurtoren-2.jpg">
      <h3 class="activities__activity__link__heading">Klein Curacao</h3>
      <p class="activities__activity__link__text">Zo’n 10 kilometer voor de kust van Curacao ligt een uniek eiland, Klein Curacao. Het onbewoonde eiland is maar 3 vierkante kilometer groot. Dage…</p>
    </a>
  </article>

  <article class="activities__activity">
    <a class="activities__activity__link" href="/ontdek_curacao/bezienswaardigheden/">
      <img class="activities__activity__link__img" alt="Sea Aquarium" src="https://cms.holidayrentalscuracao.nl/assets/uploads/2021/08/Sea_aquarium_curacao_dolfijnen_zwemmen.jpg">
      <h3 class="activities__activity__link__heading">Sea Aquarium</h3>
      <p class="activities__activity__link__text">Het Curaçao Sea Aquarium behoort tot één van de uniekste aquaria in de wereld. Alles in de aquaria, van de vissen en koralen…</p>
    </a>
  </article>
</div>
</section>