<section class="c-activity-cards">
    <h2 class="u-text-invisible">Aanbevolen activiteiten</h2>
    <article class="activity-cards__card">
        <a class="activity-cards__card__link" href="/vakantiehuizen/blue-bay/">
            <h3 class="activity-cards__card__link__heading">Blue Bay Golf &amp; Beach Resort</h3>
            <a class="activity-cards__card__link__link" href="/vakantiehuizen/">Meer informatie</a>
        </a>
    </article>
    <article class="activity-cards__card">
        <a class="activity-cards__card__link" href="/groepsaccommodaties/">
            <h3 class="activity-cards__card__link__heading">Genoeg ruimte voor een grote groep</h3>
            <a class="activity-cards__card__link__link" href="/vakantiehuizen/">Meer informatie</a>
        </a>
    </article>
    <article class="activity-cards__card">
        <a class="activity-cards__card__link" href="/vakantiehuizen/last-minute/">
            <h3 class="activity-cards__card__link__heading">Last minute aanbiedingen</h3>
            <a class="activity-cards__card__link__link link-arrow" href="/vakantiehuizen/">Meer informatie</a>
        </a>
    </article>
    <article class="activity-cards__card">
        <a class="activity-cards__card__link" href="/vakantiehuizen/?pricerange=250,495">
            <h3 class="activity-cards__card__link__heading">Luxe villa's, laat je verwennen</h3>
            <a class="activity-cards__card__link__link" href="/vakantiehuizen/">Meer informatie</a>
        </a>
    </article>
    <article class="activity-cards__card">
        <a class="activity-cards__card__link" href="/vakantiehuizen/jan-thiel/">
            <h3 class="activity-cards__card__link__heading">Verblijf in een villa in het bruisende Jan Thiel</h3>
            <a class="activity-cards__card__link__link" href="/vakantiehuizen/">Meer informatie</a>
        </a>
    </article>
</section>