<section class="c-betrouwbaarheid">
    <h2 class="betrouwbaarheid__heading">Betrouwbaarheid met een SGR-Garantie</h2>
    <p class="betrouwbaarheid__text">Vakantie geboekt? Dan wil je natuurlijk dat jouw betaling in goede handen is. SGR
        staat garant.
        Komt jouw reisorganisatie in financiële problemen? Geen zorg. Zelfs als ze failliet gaan wordt je reis
        gewoon uitgevoerd of terugbetaald. En het mooie is, dat kost je niets. Boek dus altijd bij een aangesloten
        reisorganisatie, zoals Holiday Rentals Curacao.</p>
    <a class="betrouwbaarheid__link link--primary" href="/laagsteprijsgarantieuitleg/">Meer over SGR-garantie {% include "../atoms/_arrow-right.html" %}</a>
</section>