<section class="c-calendar">
  <div class="calendar__datepicker">
    <h3 class="calendar__datepicker__heading"><span class="u-text-invisible">Calendar picker:
      </span>Inchecken-Uitchecken</h3>
    <button class="calendar-datepicker__button">DD-MM-YYYY - DD-MM-YYYY</button>
  </div>
  <form class="calendar__form">
    <label  class="calendar__form__label" aria-label="select persons" for="select-persons">
      <h3>Aantal personen</h3>
    </label>
    <select  class="calendar__form__select" id="select-persons">
      <option value="1" selected="selected">
        1
      </option>
      <option value="2">
        2
      </option>
      <option value="3">
        3
      </option>
      <option value="4">
        4
      </option>
      <option value="5">
        5
      </option>
      <option value="6">
        6
      </option>
      <option value="7">
        7
      </option>
      <option value="8">
        8
      </option>
      <option value="9">
        9
      </option>
      <option value="10">
        10
      </option>
      <option value="11">
        11+
      </option>
    </select>
    <button class="calendar__form__button">Zoeken</button>
  </form>
</section>