    <section class="c-cars">
        <h2 class="cars__heading">Van alle gemakken voorzien</h2>
        <article class="cars__car">
            <a class="cars__car__link" href="/autoverhuur/pick-up/" name="pick-up">
                <img class="cars__car__link__image" src="/assets/images/toyota.jpeg" alt="Pick-up Toyota">
                <h3 class="cars__car__link__heading">Pick up</h3>
                <p class="cars__car__link__text">5 Personen | Handgeschakeld</p>
                <p class="cars__car__link__price">Vanaf<span class="cars__car__link__price__amount">€45</span>p/d</p>
            </a>
        </article>
        <article class="cars__car">
            <a class="cars__car__link" href="/autoverhuur/hyundai-vera-cruz/" name="hyundai-vera-cruz">
                <img class="cars__car__link__image" src="/assets/images/hyundai.jpeg" alt="Hyundai">
                <h3 class="cars__car__link__heading">Hyundai Vera Cruz</h3>
                <p class="cars__car__link__text">7 Personen | Automatisch</p>
                <p class="cars__car__link__price">Vanaf<span class="cars__car__link__price__amount">€55</span>p/d</p>
            </a>
        </article>
        <article class="cars__car">
            <a class="cars__car__link" href="/autoverhuur/kia-cerato/" class="" name="kia-cerato">
                <img class="cars__car__link__image" src="/assets/images/kia.jpeg" alt="Kia">
                <h3 class="cars__car__link__heading">Kia Cerato</h3>
                <p class="cars__car__link__text">5 Personen | Automatisch</p>
                <p class="cars__car__link__price">Vanaf<span class="cars__car__link__price__amount">€39</span>p/d</p>
            </a>
        </article>
        <a class="cars__readmore link--primary" href="/autoverhuur">Bekijk alle Auto's
            {% include "../atoms/_arrow-right.html" %}</a>
    </section>