<section class="c-checklist">
    <img class="checklist__background" aria-label="hidden" src="/assets/images/paperplane.png" alt="background image of a flying paper plane">
    <h2 class="checklist__heading">Je hoeft alleen nog maar je koffers te pakken</h2>
    <ul class="checklist__list">
        <li class="checklist__list__listItem">
            <img class="checklist__list__listItem__icon" src="/assets/images/HRC_persoonlijk_contact.png" alt="icon for customer service">
            <h3 class="checklist__list__listItem__heading">Persoonlijk contact</h3>
            <p class="checklist__list__listItem__text">Ons team staat voor je klaar</p>
        </li>
        <li class="checklist__list__listItem">
            <img class="checklist__list__listItem__icon" src="/assets/images/HRC_bed.png" alt="icon for beds">
            <h3 class="checklist__list__listItem__heading">Opgemaakte bedden</h3>
            <p class="checklist__list__listItem__text">Meteen uitrusten</p>
        </li>
        <li class="checklist__list__listItem">
            <img class="checklist__list__listItem__icon" src="/assets/images/boodschappenpakket.png " alt="icon for groceries">
            <h3 class="checklist__list__listItem__heading">Boodschappenpakket</h3>
            <p class="checklist__list__listItem__text">Op aanvraag</p>
        </li>
    </ul>

</section>