<section class="c-featured">
    <div class="featured__content">
        <h2 class="featured__heading">Onze keuze</h2>
        <article class="featured__house">
            <h3 class="featured__house__heading">Oceanfront villa 11 Punda</h3>
            <ul class="featured__house__list">
                <li class="featured__house__list__listItem">Exclusief HRC</li>
                <li class="featured__house__list__listItem">Oceanfront</li>
                <li class="featured__house__list__listItem">Geschikt voor 7 personen</li>
            </ul>
            <p class="featured__house__text">De villa ligt pal aan zee, super centraal gelegen nabij Sea Aquarium en
                Willemstad. Je geniet van complete
                privacy, groot privézwembad, prachtige veranda met jacuzzi en een geweldig panoramazicht over de
                Caribische
                zee.</p>
        </article>
        <div class="featured__price">
            <p class="featured__price__new">€<span class="featured__price__new__amount">180</span>p/n</p>
            <p class="featured__price__old">€<s class="featured__price__old__amount">195</s>p/n</p>
        </div>
        <a class="featured__link" href="/villa/oceanfront_villa_11_punda/">Boek 'm nu!</a>
        <a class="featured__readmore" href="/villa/oceanfront_villa_11_punda/">Bekijk deze woning {% include "../atoms/_arrow-right.html" %}</a>
    </div>
    <img class="featured__image" src="/assets/images/featured-house.webp"
        alt="three sunbeds at the side of a pool, facing the sea. In the front are palm trees visible.">
</section>