    <section class="c-home-area">
        <h2 class="u-text-invisible">Home Areas. List with clickable buttons to navigate between the areas.</h2>
        <ul class="home-area__nav">
            <li class="home-area__nav__navItem">
                <button>
                    Jan Thiel
                </button>
            </li>
            <li class="home-area__nav__navItem">
                <button>
                    Blue Bay
                </button>
            </li>
            <li class="home-area__nav__navItem">
                <button>
                    Brakkeput
                </button>
            </li>
            <li class="home-area__nav__navItem">
                <button>
                    Westpunt
                </button>
            </li>
            <li class="home-area__nav__navItem">
                <button>
                    Jan Sofat
                </button>
            </li>
            <li class="home-area__list__listItem">
                <button>
                    Willemstad
                </button>
            </li>
            <li class="home-area__list__listItem">
                <button>
                    Cas Grandi
                </button>
            </li>
        </ul>
        <div class="home-area__wrapper">
            <img class="home-area__image" src="/assets/images/featured-house.webp" alt="three sunbeds at the side of a pool, facing the sea. In the front are palm trees visible.">
            <article class="home-area__content">
                <h3 class="home-area__content__heading">Jan Thiel</h3>
                <p class="home-area__content__text">
                    Jan Thiel is een groot toeristisch gebied op Curacao. Op Jan Thiel vindt u een zeer divers aanbod
                    van restaurants en een prachtig strand. Bij dit strand zijn er uitstekende voorzieningen voor de
                    perfecte vakantie. Lekker relaxen op een strandstoel of actief de wondere onderwaterwereld van
                    Curacao bekijken door te snorkelen of te gaan duiken. Jan Thiel beschikt over een natuurgebied 'de
                    zoutpannen'. Hier kunt u heerlijk wandelen, joggen, fietsen en met geluk de flamingo’s bewonderen.
                </p>
                <a class="home-area__content__link btn--primary" href="vakantiehuizen/jan-thiel">Bekijk alle huizen in Jan Thiel</a>
                <a class="home-area__content__readmore link--primary" href="/vakantiehuizen">Bekijk alle woningen {% include "../atoms/_arrow-right.html" %}</a>
            </article>
        </div>
    </section>