<section class="c-hrc-plus">
    <h2 class="hrc-plus__heading">HRC+<span>Curacao exclusieve villa's</span></h2>
    <p class="hrc-plus__text">
        Alleen het allerbeste van Curaçao. De woningen zijn gecontroleerd op kwaliteit en functionaliteiten. Hier 3
        beloftes van HRC Plus.
    </p>
    <ul class="hrc-plus__list">
        <li class="hrc-plus__list__listItem">Woningen exclusief te boeken bij HRC</li>
        <li class="hrc-plus__list__listItem">Beschikbaarheidsgarantie</li>
        <li class="hrc-plus__list__listItem">Extra comfort &amp; kwaliteit</li>
    </ul>
    <a class="hrc-plus__link btn--primary" href="/vakantiehuizen?exclusive=true">Bekijk alle HRC+ villa's</a>
</section>