<article class="c-nav-wijken">
    <h3 class="nav-wijken__heading">Wijken Curacao</h3>
    <section class="nav-wijken__section">
        <article class="nav-wijken__section__article">
            <h4 class="nav-wijken__section__article__heading">Oost:</h4>
            <ul class="nav-wijken__section__article__list">
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/cas-grandi/">Cas Grandi</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/punda-pietermaai/">Punda-Pietermaai</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/jan-thiel/">Jan Thiel</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/brakkeput/">Brakkeput</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/jan-sofat/">Jan Sofat</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/sint-joris/">Sint Joris</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/salina/">Salina</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/janwe/">Janwe</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/villa-park-flamboyan/">Villa park Flamboyan</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/bottelier/">Bottelier</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/hanenberg/">Hanenberg</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/mambo-beach/">Nabij Mambo beach</a></li>
            </ul>
        </article>
        <article>
            <h4 class="nav-wijken__section__article__heading">Midden:</h4>                    
            <ul class="nav-wijken__section__article__list">
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/blue-bay/">Blue Bay</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/mahaai/">Mahaai</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/willemstad/">Willemstad</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/kashutuin/">Kashutuin</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/piscadera/">Piscadera</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/sunset-heights/">Sunset Heights</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/grote-berg/">Grote Berg</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/daniel/">Daniel</a></li>
            </ul>
        </article>
        <article>
            <h4 class="nav-wijken__section__article__heading">West:</h4>
            <ul class="nav-wijken__section__article__list">
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/fontein/">Fontein</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/barber/">Barber</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/cas-abou/">Cas Abou</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/coral-estate/">Coral Estate</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/westpunt/">Westpunt</a></li>
                <li class="nav-wijken__section__article__list__listItem"><a href="/vakantiehuizen/soto/">Soto</a></li>
            </ul>
        </article>
    </section>
</article>