    <section class="c-ons-team">
        <article class="ons-team__content">
            <h2 class="ons-team__content__heading">Ons team op curacao</h2>
            <p class="ons-team__content__text">
                Al meer dan 15 jaar de beste compleetste aanbieder van particuliere vakantiehuizen op Curaçao.
                Holiday Rentals Curaçao heeft een team van enthousiaste mensen klaar staan die er voor zorgen dat u,
                onze klant, met tevredenheid kunt genieten op Curaçao.
            </p>
            <a class="ons-team__content__link btn--primary" href="/teamcuracao">Ontmoet het team</a>
        </article>
        <img class="ons-team__image" src="/assets/images/hrc_team.jpg" alt="Photograph of the team of four">
    </section>