<section class="c-vakantiehuizen">
    <h2 class="vakantiehuizen__heading">Vakantiehuis huren? Groot aanbod vakantiewoningen op Curacao met SGR garantie</h2>
    <p class="vakantiehuizen__text">Holiday Rentals Curacao biedt je een zeer groot assortiment van villa’s, appartementen, vakantiehuisjes en
        vakantiewoningen aan, die alle mogelijkheden bieden voor een ideale vakantie op het mooie eiland Curacao;
        gelegen aan het water, ligging aan de Caribische zee of met een geweldig uitzicht. Als je een villa of
        vakantiehuis op Curacao wil huren ben je bij ons op het juiste adres; van droomvilla, bungalow of beach villa
        tot vakantiehuizen en appartementen op de ideale locaties zoals Jan Thiel, Blue Bay, Cas Grandi of rondom het
        Spaanse water: Bekijk ons aanbod van ruim 200 vakantiehuizen op Curacao.</p>
    <a class="vakantiehuizen__link" href="/vakantiehuizen/">Bekijk alle vakantiehuizen
        {% include "../atoms/_arrow-right.html" %}  
    </a>
</section>