---
layout: templates/_base.html
pageName: 'Home'
title: 'Homepagina HRC'
metaDescription: 'Holiday Rentals Curacao | Vakantiehuisje, villa, vakantiewoning of appartement op Curacao huren met SGR en laagsteprijsgarantie.'
path: home
moreHouses: [1,2,3,4,5,6]
---

    {% include "./_includes/components/sections/_hero-header.html" %}
    {% include "./_includes/components/organisms/_activity-cards.html" %}
    {% include "./_includes/components/organisms/_more-houses.html" %}
    {% include "./_includes/components/organisms/_activities.html" %}
    {% include "./_includes/components/organisms/_vakantiehuizen.html" %}
    {% include "./_includes/components/organisms/_featured.html" %}
    {% include "./_includes/components/organisms/_checklist.html" %}
    {% include "./_includes/components/organisms/_hrc-plus.html" %}
    {% include "./_includes/components/organisms/_home-area.html" %}
    {% include "./_includes/components/organisms/_betrouwbaarheid.html" %}
    {% include "./_includes/components/organisms/_cars.html" %}
    {% include "./_includes/components/organisms/_ons-team.html" %}
  


