<article class="c-betaalmogelijkheden">
    <h4 class="betaalmogelijkheden__heading">>Boek en betaal veilig</h4>
    <div class="betaalmogelijkheden__logos">
        <img alt="SGR" src="/assets/images/HRC-SGR-Logo.svg" class="betaalmogelijkheden__logos__img">
        <img alt="Ideal" src="/assets/images/HRC-iDeal-Logo.svg" class="betaalmogelijkheden__logos__img">
        <img alt="Paypal" src="/assets/images/HRC-Paypal-Logo.svg" class="betaalmogelijkheden__logos__img">
        <img alt="Mastercard" src="/assets/images/HRC-Mastercard-Logo.svg" class="betaalmogelijkheden__logos__img">
        <img alt="Visa" src="/assets/images/HRC-Visa-Logo.svg" class="betaalmogelijkheden__logos__img">
    </div>
</article>