<article class="c-house-card">
    <a class="house-card__link" href="/villa/oceanfront_appartement_320_blue_bay/">
        <h3 class="house-card__link__heading">Oceanfront appartement 320 Blue Bay</h3>
        <p class="house-card__link__text">6 Personen | 3 slaapkamers</p>
        <div class="house-card__link__pricing">
            <p class="house-card__link__pricing__text">Vanaf</p>
            <p class="house-card__link__pricing__new">
                <span class="house-card__link__pricing__new__amount">€180</span><span>p/n</span>
            </p>
            <s class="house-card__link__pricing__old">€205</s>
        </div>
        <img class="house-card__link__img"
            src="https://admin.holidayrentalscuracao.com/img/huizen_img/HN150028/hoofdfoto_HN150028.jpg">
</article>