<div class="c-social-icons">
    <!-- "../atoms/_social-icon.html" to be made dynamic later on -->
    <a class="social-icons__link" aria-label="Facebook" rel="noopener" href="https://www.facebook.com/holidayrentalscuracao/">
        <img class="social-icons__link__icon" alt="Facebook" src="/assets/images/HRC-footer-facebook.png">
    </a>
    <a class="social-icons__link"  aria-label="Pinterest" rel="noopener" href="https://nl.pinterest.com/holidayrentalsc/?eq=holiday%20rentals%20curacao&amp;etslf=13750">
        <img class="social-icons__link__icon" alt="Pinterest" src="/assets/images/HRC-footer-pinterest.png">
    </a>
    <a class="social-icons__link" aria-label="Youtube" rel="noopener" href="https://www.youtube.com/channel/UCeUVNjq0hwKxu9gwyelfu9Q">
      <img class="social-icons__link__icon" alt="Youtube" src="/assets/images/HRC-footer-youtube.png">
    </a>
</div>