<nav class="c-header-nav">
    <a href="/" class="header-nav__logo">
        <span class="header-nav__logo__holiday">Holiday</span><span
            class="header-nav__logo__rentals">Rentals</span><span class="header-nav__logo__curacao">Curacao</span>
    </a>
    <ul class="header-nav__menu">
        <li class="header-nav__menu__listItem">
            <a href="">Vakantiehuizen </a><button>v</button>
            {% include "./_nav-dropdown-menu.html" %}
        </li>

        {% if navigation.items %}
        {% for item in navigation.items %}
        <li class="header-nav__menu__listItem">
            <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
    {% include "../components/organisms/_search-block.html" %}
</nav>