<div class="c-dropdown-menu u-hidden">
    <!-- WIJKEN -->
    <section class="dropdown-menu__section">
        <h2 class="dropdown-menu__section__heading">Wijken op Curacao</h2>
        <ul class="dropdown-menu__section__list">
            <li class="dropdown-menu__section__list__listItem">
                <h3><a href="/vakantiehuizen/oost/">Oost<i class="icon-right-open"></i></a>
                </h3>
                <ul>
                    <li><a href="/vakantiehuizen/cas-grandi/">Cas Grandi</a></li>
                    <li><a href="/vakantiehuizen/punda-pietermaai/">Punda-Pietermaai</a></li>
                    <li><a href="/vakantiehuizen/jan-thiel/">Jan Thiel</a></li>
                    <li><a href="/vakantiehuizen/brakkeput/">Brakkeput</a></li>
                    <li><a href="/vakantiehuizen/jan-sofat/">Jan Sofat</a></li>
                    <li><a href="/vakantiehuizen/sint-joris/">Sint Joris</a></li>
                    <li><a href="/vakantiehuizen/salina/">Salina</a></li>
                    <li><a href="/vakantiehuizen/janwe/">Janwe</a></li>
                    <li><a href="/vakantiehuizen/villa-park-flamboyan/">Villa park Flamboyan</a></li>
                    <li><a href="/vakantiehuizen/bottelier/">Bottelier</a></li>
                    <li><a href="/vakantiehuizen/hanenberg/">Hanenberg</a></li>
                    <li><a href="/vakantiehuizen/mambo-beach/">Nabij Mambo beach</a></li>
                </ul>
            </li>
            <li class="dropdown-menu__section__list__listItem">
                <h3><a href="/vakantiehuizen/midden/">Midden <i class="icon-right-open"></i></a></h3>
                <ul>
                    <li><a href="/vakantiehuizen/blue-bay/">Blue Bay</a></li>
                    <li><a href="/vakantiehuizen/mahaai/">Mahaai</a></li>
                    <li><a href="/vakantiehuizen/willemstad/">Willemstad</a></li>
                    <li><a href="/vakantiehuizen/kashutuin/">Kashutuin</a></li>
                    <li><a href="/vakantiehuizen/piscadera/">Piscadera</a></li>
                    <li><a href="/vakantiehuizen/sunset-heights/">Sunset Heights</a></li>
                    <li><a href="/vakantiehuizen/grote-berg/">Grote Berg</a></li>
                    <li><a href="/vakantiehuizen/daniel/">Daniel</a></li>
                </ul>
            </li>
            <li class="dropdown-menu__section__list__listItem">
                <h3><a href="/vakantiehuizen/west/" class="menu__label">West <i
                            class="icon-right-open"></i></a></h3>
                <ul>
                    <li><a href="/vakantiehuizen/fontein/">Fontein</a></li>
                    <li><a href="/vakantiehuizen/barber/">Barber</a></li>
                    <li><a href="/vakantiehuizen/cas-abou/">Cas Abou</a></li>
                    <li><a href="/vakantiehuizen/coral-estate/">Coral Estate</a></li>
                    <li><a href="/vakantiehuizen/westpunt/">Westpunt</a></li>
                    <li><a href="/vakantiehuizen/soto/">Soto</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- VOORKEUREN -->
    <section class="dropdown-menu__section">
        <h2 class="dropdown-menu__section__heading">Voorkeuren</h2>
        <h3 class="dropdown-menu__section__subheading">Voorkeuren (small)<i></i></h3>
        <ul class="dropdown-menu__section__list">
            <li><a href="/vakantiehuizen/waterfront/">Waterfront / aan zee</a></li>
            <li><a href="/vakantiehuizen/loopafstand-strand/">Loopafstand strand</a></li>
            <li><a href="/vakantiehuizen/prive-zwembad/">Prive zwembad</a></li>
            <li><a href="/vakantiehuizen/gezamenlijk-zwembad/">Gezamelijk zwembad</a></li>
            <li><a href="/vakantiehuizen/jacuzzi/">Jacuzzi</a></li>
            <li><a href="/vakantiehuizen/kinderbad/">Kinderbad</a></li>
            <li><a href="/vakantiehuizen/gratis-wifi/">Gratis Wifi</a></li>
            <li><a href="/vakantiehuizen/alarm/">Alarm</a></li>
            <li><a href="/vakantiehuizen/resort/">Gelegen op resort</a></li>
            <li><a href="/vakantiehuizen/rolstoel-vriendelijk/">Rolstoelvriendelijk</a></li>
            <li><a href="/vakantiehuizen/huisdieren-toegestaan/">Huisdieren toegestaan in overleg</a>
            </li>
            <li><a href="/vakantiehuizen/bbq/">BBQ Aanwezig</a></li>
            <li><a href="/vakantiehuizen/airco-woonkamer/">Airco in woonkamer</a></li>
            <li><a href="/vakantiehuizen/vaatwasser/">Vaatwasser</a></li>
            <li><a href="/vakantiehuizen/wasmachine/">Wasmachine</a></li>
        </ul>
    </section>
<!-- WONINGTYPES -->
    <section class="dropdown-menu__section">
        <h2 class="dropdown-menu__section__heading">Type woning</h2>
        <h3 class="dropdown-menu__section__subheading">Eigenschappen</h3>
        <ul class="dropdown-menu__section__list">
            <li><a href="/vakantiehuizen/loopafstand-strand">Waterfront / aan zee</a></li>
            <li><a href="/vakantiehuizen/groepsaccommodatie">Groepswoning</a></li>
            <li><a href="/vakantiehuizen/lange-termijn">Lange termijn</a></li>
        </ul>
        {% include "../components/sections/_nav-woningen-card.html" %}
    </section>
</div>